:root {
  --mainBlue: #20205c;
  --lightBlue: #4475dd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --primaryColor: #02083b;
}
body {
  font-family: "Poppins", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
  overflow-x: hidden !important;
}
::placeholder{
    color: var(--primaryColor) !important;
}
.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}
.bg-primaryColor {
  background: var(--primaryColor);
}
.card {
  border-color: transparent !important;
  transition: all 0.5s linear;
}
.card:hover {
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.2);
}
button{
    transition: all 0.7s linear;
}
button:hover{
    background: var(--lightBlue);
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    height: 90vh;
}
input[type="text"]{
    color: var(--primaryColor) !important;    
    border: 1px solid var(--primaryColor) !important;
}